@*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 * 
 * Copyright © Vincent Bengtsson & Contributors 2022
 * https://github.com/Visual-Vincent/GuiStack
 *@

@using GuiStack.Models;
@model DeleteModalModel

<div id="@Model.ElementId" class="cssWindow dark backdropblur text-center">
    <div class="closeWindowButton"><a no-href onclick="closeParentWindow(event)">×</a></div>

    <h2 class="title">Are you sure you want to delete <span class="object-name" style="color: #FF8000"></span>?</h2>
    <p>This cannot be undone!</p>

    <div class="modal-buttons text-center">
        <button class="yes-button">Yes</button>
        <button onclick="closeParentWindow(event)">No</button>
    </div>
</div>