<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@(!string.IsNullOrWhiteSpace(ViewData["Title"] as string) ? $"{ViewData["Title"]} - GuiStack" : "GuiStack")</title>
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
        <link rel="stylesheet" href="~/css/windows.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/windows.js"></script>
        <script src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js"></script>
        <script src="https://cdn.rawgit.com/dcodeIO/protobuf.js/6.11.2/dist/protobuf.min.js"></script>
        <script type="text/javascript">
            require.config({ paths: { "vs": "https://unpkg.com/monaco-editor@latest/min/vs" } });
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </head>
    <body>
        <div id="gs-error-banner">
            <div class="close-btn" onclick="gs_CloseError();"><i class="fa-solid fa-xmark"></i></div>
            <div class="title"><i class="fa-solid fa-circle-xmark"></i> An error occurred</div>
            <div id="gs-error-text"></div>
        </div>

        <div class="gs-main-container">
            <header>
                <h1 style="text-align: center">GuiStack</h1>
            </header>

            <nav class="gs-navbar">
                <a href="/"    data-selected-regex="^/$">Dashboard</a>
                <a href="/S3"  data-selected-regex="^/S3">S3</a>
                <a href="/SQS" data-selected-regex="^/SQS">SQS</a>
            </nav>

            <main style="overflow: auto">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>