<ul class="gs-tree">
    <li data-title="tollbiller.proto">
        <ul class="gs-tree">
            <li>FindAgreementRequest</li>
            <li>FindInvoiceRequest</li>
            <li data-title="Nested">
                <ul class="gs-tree">
                    <li>FindAgreementResponse</li>
                    <li>FindInvoiceResponse</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<script type="text/javascript">

</script>