@{
    var protoListId = Guid.NewGuid().ToString("N");
    var protoList = $"__gs_protodefs_{protoListId}";
}

<ul id="gs-protobuf-list-@protoListId" class="gs-tree">
    <li data-title="tollbiller.proto">
        <ul class="gs-tree">
            <li>FindAgreementRequest</li>
            <li>FindInvoiceRequest</li>
            <li data-title="Nested">
                <ul class="gs-tree">
                    <li>FindAgreementResponse</li>
                    <li>FindInvoiceResponse</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<script type="text/javascript">
    const @protoList = {};

    (function() {
        var protobufs = [];

        for(var i = 0; i < localStorage.length; i++)
        {
            var key = localStorage.key(i);

            if(!key.startsWith("proto/"))
                continue;

            protobufs.push(key);
        }

        protobufs.sort((a, b) => b.localeCompare(a));

        for(var i = 0; i < protobufs.length; i++)
        {
            var key = protobufs[i];
            var path = key.split("/");

            if(path.length <= 1)
                continue;

            var currentLeaf = @protoList;

            for(var p = 1; p < path.length; p++)
            {
                var part = path[p];
                if(part.length <= 0)
                    continue;

                if(p == path.length - 1)
                {
                    currentLeaf[part] = { __gs_isProto: true, path: key, proto: localStorage.getItem(key) };
                    break;
                }

                if(!currentLeaf.hasOwnProperty(part))
                    currentLeaf[part] = {};

                currentLeaf = currentLeaf[part];
            }
        }

        var stack = [];

        for(var item in @protoList)
        {
            stack.push({ name: item, value: @(protoList)[item], parent: document.getElementById("gs-protobuf-list-@protoListId") });
        }

        while(stack.length > 0)
        {
            var node = stack.pop();

            if(node.value.__gs_isProto)
            {
                var itemElement = document.createElement("li");
                itemElement.innerText = node.name;
                itemElement.setAttribute("data-proto-path", node.value.path);

                node.parent.appendChild(itemElement);
                continue;
            }

            var treeElement = document.createElement("ul");
            treeElement.classList.add("gs-tree");

            var nodeElement = document.createElement("li");
            nodeElement.setAttribute("data-title", node.name);
            nodeElement.appendChild(treeElement);

            node.parent.appendChild(nodeElement);

            for(var item in node.value)
            {
                stack.push({ name: item, value: node.value[item], parent: treeElement });
            }
        }
    })();
</script>