@*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 * 
 * Copyright © Vincent Bengtsson & Contributors 2022-2024
 * https://github.com/Visual-Vincent/GuiStack
 *@

@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<h1>Welcome to GuiStack!</h1>

<div class="gs-dashboard">
    <a href="/S3" class="gs-dashboard-item">
        <i class="bi bi-bucket image"></i>
        <p class="title">S3 Buckets</p>
    </a>
    <a href="/SQS" class="gs-dashboard-item">
        <i class="fa-solid fa-database gs-rotate-270 image"></i>
        <p class="title">SQS Queues</p>
    </a>
    <a href="/SNS" class="gs-dashboard-item">
        <i class="fa-solid fa-square-envelope image"></i>
        <p class="title">SNS Topics</p>
    </a>
</div>