/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html
{
    background: rgb(32, 32, 32);
    background: linear-gradient(0deg, rgb(80, 80, 80), rgb(32, 32, 32));
    height: 100%;
    margin: 0;
    padding: 0;
}

a, a:visited
{
    color: #00E0FF;
    text-decoration: none;
}

a:hover
{
    color: #BBF7FF;
}

a:active
{
    color: #0090A4;
}

.error-text
{
    color: #FF0000;
}

.modal-buttons
{
    white-space: nowrap;
}

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.gs-icons
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gs-icons a
{
    display: block;
    height: 21px;
    font-size: 21px;
    text-align: center;
    padding: 2px 4px 2px 4px;
}

.gs-icons a,
.gs-icons a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

.gs-icons a.red:hover  { color: #FF7F7F; }
.gs-icons a.red:active { color: #FF0000; }

.gs-icons a.blue:hover  { color: #7FBFFF; }
.gs-icons a.blue:active { color: #007FFF; }

.gs-icons a.green:hover  { color: #80DFA3; }
.gs-icons a.green:active { color: #00C048; }

.gs-icons a.purple:hover  { color: #CE7FFF; }
.gs-icons a.purple:active { color: #A000FF; }

#gs-error-banner
{
    display: none;
    position: relative;
    box-sizing: border-box;
    padding: 12px;
    margin: 8px auto;
    background: #F8D7DA;
    border: 1px solid #9F121E;
    border-radius: 8px;
    box-shadow: #9f121e 0px 0px 20px 4px;
    color: #9F121E;
    width: 1280px;
}

#gs-error-banner.visible
{
    display: block;
}

#gs-error-banner .title
{
    font-weight: bold;
    margin-bottom: 8px;
}

#gs-error-banner .close-btn
{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.gs-main-container
{
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    color: #FFFFFF;
}

.gs-main-container > header
{
    background: #000000;
    background: linear-gradient(0deg, rgb(32, 32, 32), rgb(100, 100, 100));
    flex: 0 0 100%;
}

.gs-main-container > main
{
    background: #303030;
    flex: 1;
    padding: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.01);
    box-sizing: border-box;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.gs-navbar
{
    display: block;
    background: #35363A;
    width: 20%;
}

.gs-navbar > a
{
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background 0.2s;
}

.gs-navbar > a.selected
{
    color: #00FF55;
    font-weight: bold;
}

.gs-navbar > a:hover
{
    background: rgba(255, 255, 255, 0.15);
}

table.gs-list
{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    table-layout: fixed;
}

table.gs-list th, table.gs-list td
{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

table.gs-info-table tr:not(.expand-button) > td:first-of-type
{
    color: #AFA;
    font-weight: bold;
}

table.gs-info-table tr:not(.expand-button) > td:first-of-type::after
{
    content: "\00A0\00A0";
}

table.gs-info-table:not(.expanded) tbody.additional-info
{
    visibility: collapse;
}

table.gs-info-table.expanded tr.collapsed,
table.gs-info-table.expanded td.collapsed,
table.gs-info-table:not(.expanded) tr.expanded,
table.gs-info-table:not(.expanded) td.expanded
{
    display: none;
}

.gs-tab-container
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.gs-tabitem
{
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    cursor: pointer;
}

.gs-tabitem.selected
{
    border-bottom: 2px solid #00E1FF;
}

.gs-tabpage
{
    padding: 8px;
}

.gs-tabpage:not(.selected)
{
    display: none;
}

.gs-sqs-messages-list
{
    margin-top: 8px;
}

.gs-sqs-messages-list > .gs-sqs-message-contents
{
    margin-top: 8px;
}

.gs-sqs-message-contents
{
    width: 100%;
    height: 400px;
    max-width: 100%;
}

textarea.gs-sqs-message-contents
{
    color: #FFFFFF;
    background: #262626;
    font-family: monospace;
    font-size: 11pt;
    resize: vertical;
}

.gs-sqs-messages-list:not(.viewing-contents) .gs-sqs-message-contents
{
    display: none;
}

.cssWindow .closeWindowButton
{
    position: relative;
}

.cssWindow .closeWindowButton > a:first-child
{
    position: absolute;
    top: -11px;
    right: 0px;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
}

.cssWindow.dark .closeWindowButton > a:first-child
{
    position: absolute;
    top: -11px;
    right: 0px;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.cssWindow .closeWindowButton > a:first-child:hover
{
    color: #FF7F7F;
}

.cssWindow .closeWindowButton > a:first-child:active
{
    color: #FF0000;
}