/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 * 
 * Copyright © Vincent Bengtsson & Contributors 2022
 * https://github.com/Visual-Vincent/GuiStack
 */

body
{
    background: rgb(32, 32, 32);
    background: linear-gradient(0deg, rgb(80, 80, 80), rgb(32, 32, 32));
    min-height: calc(100vh - 8px * 2);
    margin: 8px;
}

a, a:visited
{
    color: #00E0FF;
    text-decoration: none;
}

a         > .gs-icon-overlay.stroked,
a:visited > .gs-icon-overlay.stroked
{
    -webkit-text-stroke-color: #00E0FF;
}

a:hover  { color: #BBF7FF; }
a:active { color: #0090A4; }
a:hover  > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #BBF7FF; }
a:active > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #0090A4; }

a.glowy:hover,
a.glowy:active
{
    text-shadow: 0 0 8px #00E0FF;
}

a.initial-white { color: #FFFFFF; }

a.red:hover  { color: #FF7F7F; }
a.red:active { color: #FF0000; }
a.red:hover  > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #FF7F7F; }
a.red:active > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #FF0000; }
a.red        > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #FFFFFF; }

a.blue:hover  { color: #7FBFFF; }
a.blue:active { color: #007FFF; }
a.blue:hover  > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #7FBFFF; }
a.blue:active > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #007FFF; }
a.blue        > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #FFFFFF; }

a.green:hover  { color: #80DFA3; }
a.green:active { color: #00C048; }
a.green:hover  > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #80DFA3; }
a.green:active > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #00C048; }
a.green        > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #FFFFFF; }

a.neon-green:hover  { color: #00FF00; }
a.neon-green:active { color: #00BB00; }
a.neon-green:hover  > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #00FF00; }
a.neon-green:active > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #00BB00; }
a.neon-green        > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #FFFFFF; }

a.purple:hover  { color: #CE7FFF; }
a.purple:active { color: #A000FF; }
a.purple:hover  > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #CE7FFF; }
a.purple:active > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #A000FF; }
a.purple        > .gs-icon-overlay.stroked { -webkit-text-stroke-color: #FFFFFF; }

a.vertical
{
    display: block;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
}

a.gs-button
{
    display: inline-block;
    background: #0099D4;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 4px 16px;
}

a.gs-button:hover  { background: #007EAF; }
a.gs-button:active { background: #005577; }

.error-text { color: #FF0000; }

.modal-buttons
{
    white-space: nowrap;
}

.modal-buttons > button
{
    padding: 2px 12px;
    min-width: 64px;
}

.hidden { display: none; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.gs-rotate-45  { transform:  rotate(45deg); }
.gs-rotate-90  { transform:  rotate(90deg); }
.gs-rotate-135 { transform: rotate(135deg); }
.gs-rotate-180 { transform: rotate(180deg); }
.gs-rotate-225 { transform: rotate(225deg); }
.gs-rotate-270 { transform: rotate(270deg); }
.gs-rotate-315 { transform: rotate(315deg); }

.gs-icons
{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gs-icons a
{
    display: block;
    height: 21px;
    font-size: 21px;
    text-align: center;
    padding: 2px 4px 2px 4px;
}

.gs-icons a,
.gs-icons a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

#gs-error-banner
{
    display: none;
    position: relative;
    box-sizing: border-box;
    padding: 12px;
    margin: 8px auto;
    background: #F8D7DA;
    border: 1px solid #9F121E;
    border-radius: 8px;
    box-shadow: #9f121e 0px 0px 20px 4px;
    color: #9F121E;
    width: 1280px;
}

#gs-error-banner.visible
{
    display: block;
}

#gs-error-banner .title
{
    font-weight: bold;
    margin-bottom: 8px;
}

#gs-error-banner .close-btn
{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.gs-main-container
{
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    color: #FFFFFF;
}

.gs-main-container > header
{
    background: #000000;
    background: linear-gradient(0deg, rgb(32, 32, 32), rgb(100, 100, 100));
    flex: 0 0 100%;
}

.gs-main-container > main
{
    background: #303030;
    flex: 1;
    padding: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.01);
    box-sizing: border-box;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.gs-navbar
{
    display: block;
    background: #35363A;
    width: 20%;
}

.gs-navbar > a
{
    display: block;
    background: linear-gradient(0deg, #373737, #52555A);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.gs-navbar > a.selected
{
    background: linear-gradient(180deg, #303030, #4d5054);
    box-shadow: inset rgba(0, 0, 0, 0.69) 0px 0px 4px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.69);
    font-weight: bold;
    color: #00FF55;
}

.gs-navbar > a:hover
{
    background: #4d5054;
}

table.layout-fixed
{
    table-layout: fixed;
}

table.autosize-col-1              tr > td:nth-child(1),
table.autosize-col-2              tr > td:nth-child(2),
table.autosize-col-3              tr > td:nth-child(3),
table.autosize-col-4              tr > td:nth-child(4),
table.autosize-col-5              tr > td:nth-child(5),
table.autosize-col-6              tr > td:nth-child(6),
table.autosize-col-7              tr > td:nth-child(7),
table.autosize-col-8              tr > td:nth-child(8),
table.autosize-col-9              tr > td:nth-child(9),
table.autosize-last-col           tr > td:last-child,
table.autosize-all-cols-but-first tr > td:not(:first-child)
{
    width: 1px;
    white-space: nowrap;
}

table.gs-list
{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

table.gs-list th, table.gs-list td
{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

table.gs-list.padded th, table.gs-list td
{
    padding: 4px 8px;
}

table.gs-info-table.colored tr:not(.expand-button) > td:first-of-type
{
    color: #AFA;
    font-weight: bold;
}

table.gs-info-table tr:not(.expand-button) > td:first-of-type::after
{
    content: "\00A0\00A0";
}

table.gs-info-table:not(.expanded) tbody.additional-info
{
    visibility: collapse;
}

table.gs-info-table:not(.expanded) tr.additional-info,
table.gs-info-table:not(.expanded) td.additional-info
{
    display: none;
}

table.gs-info-table.expanded tr.collapsed,
table.gs-info-table.expanded td.collapsed,
table.gs-info-table:not(.expanded) tr.expanded,
table.gs-info-table:not(.expanded) td.expanded
{
    display: none;
}

.gs-tab-container
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.gs-tabitem
{
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    cursor: pointer;
}

.gs-tabitem.selected
{
    border-bottom: 2px solid #00E1FF;
}

.gs-tabpage
{
    padding: 8px;
}

.gs-tabpage:not(.selected)
{
    display: none;
}

.gs-sqs-messages-list
{
    margin-top: 8px;
}

.gs-sqs-messages-list > .gs-sqs-message-contents
{
    margin-top: 8px;
}

.gs-sqs-message-contents
{
    width: 100%;
    height: 400px;
    max-width: 100%;
}

textarea.gs-sqs-message-contents
{
    color: #FFFFFF;
    background: #262626;
    font-family: monospace;
    font-size: 11pt;
    resize: vertical;
}

.gs-sqs-messages-list:not(.viewing-contents) .gs-sqs-message-contents
{
    display: none;
}

.gs-block-grid > *
{
    display: inline-block;
}

.gs-block-grid > *:not(:first-child)
{
    margin-left: 8px;
}

ul.gs-tree
{
    padding-left: 10px;
}

ul.gs-tree:first-child
{
    margin-top: 0px;
}

ul.gs-tree > li
{
    padding: 4px 0px 4px 8px;
    cursor: pointer;
}

ul.gs-tree > li:hover::before,
ul.gs-tree > li.expanded::before,
ul.gs-tree > li[data-title]:hover::marker,
ul.gs-tree > li[data-title].expanded::marker,
ul.gs-tree > li:not([data-title]):hover
{
    text-shadow: 0 0 8px #00E0FF;
    color: #77EEFF;
}

ul.gs-tree > li.selected
{
    text-shadow: 0 0 8px #00FFAA;
    color: #66FFCC;
}

ul.gs-tree > li:first-child
{
    padding-top: 8px;
}

ul.gs-tree > li:last-child
{
    padding-bottom: 0px;
}

ul.gs-tree > li::before
{
    content: attr(data-title);
}

ul.gs-tree > li[data-title]:not(.expanded) > *
{
    display: none;
}

ul.gs-tree > li[data-title]::marker
{
    content: "\25B6";
    font-size: 0.75em;
}

ul.gs-tree > li[data-title].expanded::marker
{
    content: "\25E2";
}

ul.gs-tree > li:not([data-title])
{
    list-style-type: none;
}

.gs-upload-field
{
    position: relative;
    display: block;
    padding: 8px;
    border: 1px dashed;
    cursor: pointer;
}

.gs-upload-field.invisible
{
    padding: 0;
    opacity: 0;
    border: none;
}

.gs-upload-field > input[type="file"]:first-of-type
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gs-drop-container
{
    position: relative !important;
}

#gs-upload-progress-overlay,
.gs-drop-container .gs-drop-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background: repeating-linear-gradient(-45deg, rgba(34, 34, 34, 0.75), rgba(34, 34, 34, 0.75) 10px, rgba(51, 51, 51, 0.75) 10px, rgba(51, 51, 51, 0.75) 20px); /* Thanks to CSS-Tricks: https://css-tricks.com/stripes-css/ */
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#gs-upload-progress-overlay
{
    position: fixed;
    opacity: 1;
    color: #FFFFFF;
    pointer-events: all;
    font-size: 2em;
    z-index: 998;
}

#gs-upload-progress-overlay:not(.visible)
{
    display: none;
}

#gs-upload-progress-overlay img.spinner
{
    width: 1em;
    margin-right: 8px;
}

#gs-upload-progress-overlay .upload-filename
{
    color: #00FFAA;
}

#gs-upload-progress-overlay .upload-filename:not(:empty)::before,
#gs-upload-progress-overlay .upload-progress:not(:empty)::before
{
    content: "\00A0";
}

body.is-dragging .gs-drop-container .gs-drop-overlay
{
    opacity: 1;
}

.gs-icon-stack
{
    position: relative;
}

.gs-icon-overlay
{
    position: absolute;
    font-size: 0.5em;
    bottom: 0;
    right: 0;
}

.gs-icon-overlay.stroked
{
    -webkit-text-stroke: 1.5px #FFFFFF;
}

.cssWindow .closeWindowButton
{
    position: relative;
}

.cssWindow .closeWindowButton > a:first-child
{
    position: absolute;
    top: -11px;
    right: 0px;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
}

.cssWindow.dark .closeWindowButton > a:first-child
{
    position: absolute;
    top: -11px;
    right: 0px;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.cssWindow .closeWindowButton > a:first-child:hover
{
    color: #FF7F7F;
}

.cssWindow .closeWindowButton > a:first-child:active
{
    color: #FF0000;
}