@using GuiStack.Models; 
@model IEnumerable<S3Bucket>

<table class="gs-list layout-fixed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var bucket in (Model ?? Enumerable.Empty<S3Bucket>()).OrderBy(m => m.Name))
        {
            <tr>
                <td><a href="/S3/@bucket.Name">@bucket.Name</a></td>
                <td>@bucket.CreationDate</td>
            </tr>
        }
    </tbody>
</table>