@using GuiStack.Models; 
@using GuiStack.Extensions;
@model IEnumerable<S3ObjectModel>

<table class="gs-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s3obj in Model ?? Enumerable.Empty<S3ObjectModel>())
        {
            var obj = s3obj.Object;
            <tr>
                <td><a href="/S3/@s3obj.BucketName?handler=Download&object=@Uri.EscapeDataString(obj.Name)">@obj.Name</a></td>
                <td>@obj.Size.ToFormattedFileSize()</td>
                <td>@obj.LastModified</td>
            </tr>
        }
    </tbody>
</table>