@using GuiStack.Models; 
@using GuiStack.Extensions;
@model IEnumerable<S3ObjectModel>

<table class="gs-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s3obj in Model ?? Enumerable.Empty<S3ObjectModel>())
        {
            var obj = s3obj.Object;
            <tr>
                <td><a href="/S3/@s3obj.BucketName?handler=Download&object=@Uri.EscapeDataString(obj.Name)">@obj.Name</a></td>
                <td>@obj.Size.ToFormattedFileSize()</td>
                <td>@obj.LastModified</td>
                <td>
                    <div class="gs-icons">
                        <a href="/" class="blue" title="Rename"><i class="fa-solid fa-i-cursor"></i></a>
                        <a href="/" class="purple" title="Copy S3 URI"><i class="fa-solid fa-link"></i></a>
                        <a href="/" class="green" title="Copy URL"><i class="bi bi-globe"></i></a>
                        <a href="/" class="red" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>