@page "{bucket?}"
@model GuiStack.Pages.S3.IndexModel
@{
    ViewData["Title"] = "S3 Buckets";
    ViewData["NavSelectedItem"] = "S3";
}

@if(!string.IsNullOrWhiteSpace(Model.Bucket))
{
    <h1>@Model.Bucket</h1>
}
else
{
    <h1>S3 buckets</h1>
}

<div id="list-container">
    @if(string.IsNullOrWhiteSpace(Model.Bucket))
    {
        await Html.RenderPartialAsync("~/Pages/S3/_BucketsTable.cshtml", await Model.GetBuckets());
    }
    else
    {
        await Html.RenderPartialAsync("~/Pages/S3/_ObjectsTable.cshtml", await Model.GetBucketContents(Model.Bucket));
    }
</div>