@page "{bucket?}"

@using System.Net
@using Amazon.S3
@using GuiStack.Extensions;
@model GuiStack.Pages.S3.IndexModel

@{
    ViewData["Title"] = "S3 Buckets";
}

@if(!string.IsNullOrWhiteSpace(Model.Bucket))
{
    <h1>@Model.Bucket</h1>
}
else
{
    <h1>S3 buckets</h1>
}

<div id="list-container">
    @try
    {
        if(string.IsNullOrWhiteSpace(Model.Bucket))
        {
            await Html.RenderPartialAsync("~/Pages/S3/_BucketsTable.cshtml", await Model.S3Repository.GetBucketsAsync());
        }
        else
        {
            await Html.RenderPartialAsync("~/Pages/S3/_ObjectsTable.cshtml", (await Model.S3Repository.GetObjectsAsync(Model.Bucket)).ToObjectModel(Model.Bucket));
        }
    }
    catch(AmazonS3Exception ex)
    {
        if(ex.StatusCode == HttpStatusCode.NotFound)
        {
            <h2 class="error-text">Bucket not found</h2>
        }
        else
        {
            if(string.IsNullOrWhiteSpace(Model.Bucket))
            {
                <h2 class="error-text">Failed to fetch buckets:</h2>
            }
            else
            {
                <h2 class="error-text">Failed to fetch bucket contents:</h2>
            }

            <p class="error-text">@ex.Message</p>
        }
    }
    catch(Exception ex)
    {
        if(string.IsNullOrWhiteSpace(Model.Bucket))
        {
            <h2 class="error-text">Failed to fetch buckets:</h2>
        }
        else
        {
            <h2 class="error-text">Failed to fetch bucket contents:</h2>
        }

        <p class="error-text">@ex.Message</p>
    }
</div>